html {
  scroll-behavior: smooth;
}

.bigContainer {
  display: flex;
  flex-direction: column;
  border-left: 5px solid rgb(211, 211, 211);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 0;
  width: fit-content;
}

.innerContainer {
  height: 800px;
  overflow: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weekdays {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  box-sizing: border-box;
  border: 1px solid rgb(211, 211, 211);
  border-left: 0;
  margin-bottom: 5px;
}

.weekdays:first-child {
  box-sizing: border-box;
  width: 150px;
  margin-left: 80px;
  border-left: 1px solid rgb(211, 211, 211);
}

.weekday {
  margin: 0;
  color: #3a3a3a;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 5px 5px 5px;
}

.date {
  font-size: 18px;
  font-weight: 800;
  padding: 5px;
  color: #7e7e7e;
}

.hours {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 1500px;
}

.hours:last-child {
  border: transparent;
}

.hour {
  position: relative;
  box-sizing: border-box;
  border-top: 1px solid rgb(211, 211, 211);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80px;
  height: 60px;
  font-size: 12px;
  border-right: 1px solid rgb(211, 211, 211);
}

.hour:last-child {
  border: transparent;
}

.hr {
  margin: 0;
}

.hour:last-child {
  box-sizing: border-box;
  border-bottom: 0;
}

.innerContainer {
  position: relative;
  display: flex;
  flex-direction: row;
}

.grid {
  position: relative;
  display: flex;
  height: 1500px;
}

.dailyHours {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dailyHour:last-child {
  box-sizing: border-box;
  border: transparent;
}

.dailyHour {
  display: flex;
  justify-content: center;
  width: 150px;
  height: 60px;
  box-sizing: border-box;
  border-top: 1px solid rgb(211, 211, 211);
  border-right: 1px solid rgb(211, 211, 211);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d2a;
}

.timeStamp {
  position: absolute;
  width: 1057.5px;
  height: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 3;
  margin-left: -7.5px;
}

.timeStampLine {
  width: 1057.5px;
  height: 5px;
  background-color: red;
  margin-left: -2px;
}

.circle {
  background-color: red;
  position: relative;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
