.container {
  width: 33vh;
  min-width: 28vh;
  padding: 30px;
}

.logo {
  font-size: 50px;
  font-weight: bolder;
  text-align: left;
}

.logo p {
  padding-top: 5px;
  margin-top: 15px;
}

.profilePicture {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.profilePicture img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.profilePicture p {
  font-size: 24px;
}

.todoList {
  margin-top: 16px;
}

.todoList p {
  font-size: 16px;
  text-align: left;
}
