.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 10px 10px 10px 0;
  height: 250px;
  overflow-y: scroll;
}

.todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
  gap: 15px;
  padding: 2px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.todoDone {
  border: none;
}

.circle {
  z-index: 2;
}

.circle:hover {
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.151);
}

.addTodoContainer {
  margin-top: 45px;
}

.fieldContainer {
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 16px;
  text-align: left;
}

.inputField {
  width: 75%;
  padding: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.inputField:focus {
  outline: none;
}

.btn {
  border: none;
  background: transparent;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s ease;
}

.line {
  margin-top: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.151);
  height: 2px;
}
